<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>HelloWorld</string>
    <key>CFBundleVersion</key>
    <string>1.0-SNAPSHOT</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>Forge.icns</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>com.googlecode.arcane.HelloWorld</string>
        <key>JVMVersion</key>
        <string>1.4+</string>
        <key>ClassPath</key>
        <array>
            <string>$JAVAROOT/helloworld-1.0-SNAPSHOT.jar</string>
            <string>$JAVAROOT//log4j-1.2.13.jar</string>
        </array>
        <key>WorkingDirectory</key>
        <string>$APP_PACKAGE/Contents/Resources/Java</string>
        <key>Properties</key>
        <dict>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
        </dict>
    </dict>
</dict>
</plist>
